@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    /*Cores*/
    --colorBack: rgb(244, 245, 247);
    --colorMenu: rgb(220, 49, 46);
    --colorDiv: rgb(255, 255, 255);
    --colorTextMain: rgb(30, 30, 30);
    --colorTextSect: rgb(85, 85, 85);
    --colorBot: rgb(220, 49, 46);
    --colorTest1: blue;
    --colorTest2: red;
    --colorTest3: green;
    /*Fote*/
    --fontMain: 'Montserrat', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body,
header {
    font-family: var(--fontMain);
    color: var(--colorTextSect);
}

.elemento__explanation {
    font-size: 20px;
    font-family: var(--fontMain);
    text-align: left;
    line-height: 30px;
    margin: 10px 0px 10px 20px;
}

h1 {
    color: var(--colorTextMain);
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--fontMain);
    font-weight: 400;
}

/*Section 1 */
.main__top {
    width: 360px;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
}
.main__top>div {
    width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.main__top--tableTd{
width:150px;
border-radius: 20px;
padding: 5px;
}
.main__top--tableLine{
 background-color:rgb(244, 245, 247);
 text-align: center;
 margin: 205px;
} 

.main__top--tableLineSelect{
display:none;
text-align: left;
}
.main__top--tableLineSelectTd{
    padding-top: 35px;
}
.main__top--img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70px;
}

/*Section 2*/
.main_middle{
    
    height: 500px;
    background-image: linear-gradient(to top, rgba(128,128,128,0.5),rgba(0,0,0,0.8)), url(imagens/transporteRodagem.jpg);
    background-position: top;
    background-size: cover;   
    background-repeat: no-repeat;
    padding-right: 15px;
    
}
.main_middle >div>h1,h3 {
    font-family: var(--fontMain);
    color: white; 
    padding: 0px;
    padding-top: 11px;
}
#ServFrete{
    height: 300px;
    width: 350px;
    margin-left: 20px;
    padding-top: 30px;
}


.subtitulos{
    display: flex;
    margin-left: 20px;
}
.subtitulos >a{
    color: white;
    background-color: var(--colorMenu);
    padding: 20px;
    font-family: var(--fontMain);
    text-decoration: none;
    font-weight: 600;
}
/* links */

html {
    scroll-behavior: smooth;
}

/* Hover */
#t1:hover{
 background: rgb(30,30,30,30);
 color: rgb(255,255,255,255);}
#t2:hover{
 background: rgb(30,30,30,30);
 color: rgb(255,255,255,255);}
#t3:hover{
 background: rgb(30,30,30,30);
 color: rgb(255,255,255,255);}
#t4:hover{
 background: rgb(30,30,30,30);
 color: rgb(255,255,255,255);}
#t1:hover ~ #l1, #l1:hover{
display:table-row;
}
#t2:hover ~ #l2, #l2:hover{
display:table-row;
}
#t3:hover ~ #l3, #l3:hover{
display:table-row;
}
#t4:hover ~ #l4, #l4:hover{
display:table-row;
}

/*Elementos*/
.main__elemento--selection-marca {
    width: 350px;
    margin: 5px 0px 7px 0px;
    padding: 10px;
    border: 2px solid rgb(85, 85, 85, 0.2);
    border-radius: 20px;
    background-color: var(--colorDiv);
    box-shadow: 0px 0.5px 1px rgb(85, 85, 85, 0.5);
    color: var(--fontMain);
}

/*Media query*/

/*Iphone 15 pro, Redmi Note 11 Pro 5G - viewport 393 x 852 px*/
@media (min-width: 385px) and (max-width:400px) {
}
/**/
@media (min-width: 400px) and (max-width:680px) {
}
/**/
@media (min-width: 370px) and (max-width:375px) {
}
/*Iphone 8, 375 x 667 px*/
@media (min-width: 375px) and (max-width:385px) {
}
/*Doogee S96 Pro, viewport 360*/
@media (min-width: 355px) and (max-width:370px) {
}
/*Tablet , viewport (Paisagem): 960 x 600 px, (Retrato): 600 x 960 px*/
@media (min-width: 680px) and (max-width:1010px) {
}
/**/
@media (min-width: 1010px) {
}